*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.sectionTitulo{
    background-image: linear-gradient(rgb(83, 83, 83),rgb(209, 3, 3)) ;
    border-bottom: rgba(51, 51, 51, 0.3) solid 3px;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sectionTituloSearchBar{
    padding-left: 25px;
    align-self: flex-start;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.sectionTituloSearchBar label{
    display: flex;
    flex-direction: column;
    background-color: rgba(51, 51, 51, 0.3);
    border-radius: 10px;
    border: 1px solid gray;
    color: rgb(209, 3, 3);
    font-family: 'Electrolize', sans-serif;
    padding: 5px;
}

.sectionTitulo h2{
    font-family: 'Electrolize', sans-serif;
    font-size: 30px;
    color: rgb(209, 3, 3);
}

.sectionTitulo h1{
    font-family: 'Electrolize', sans-serif;
    font-size: 40px;
    color: rgb(209, 3, 3);
}


/* FIN SECTION TITULO */


.sectionPokedex{
    display: flex;
    background-image: url(img/poke.jpg);
    background-attachment: fixed;
    background-size: cover;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 98.7vw;
}

.pokeDiv{
    display: grid;
    width: 27vw;
    height: 350px;
    border: solid black 5px;
    border-radius: 15px;
    background-color: gray;
    margin: 20px;
}

